{% extends "base.html" %}

{% block title %}WatchHub - Acerca de Nosotros{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Acerca de Nosotros</h1>
    <p>WatchHub es tu centro de búsqueda para encontrar las mejores series y películas online.</p>
    <p>Con nuestra plataforma, puedes explorar una amplia variedad de contenido de diferentes géneros, desde clásicos hasta los últimos estrenos. Nuestra misión es ofrecerte una experiencia fácil y rápida para que disfrutes de tus programas favoritos en cualquier momento.</p>
    <p>¡Bienvenido a WatchHub, donde el entretenimiento está a solo un clic de distancia!.</p>
</div>
{% endblock %}